arviz>=0.16.1
black>=23.12.1
flake8>=7.0.0
isort>=5.13.2
jax>=0.4.25
jaxlib>=0.4.25
jupyter>=1.0.0
matplotlib>=3.8.2
notebook>=7.0.6
numpy>=1.26.3
numpyro>=0.13.2
pandas>=2.1.4
pre-commit>=3.6.0
pytest>=7.4.4
pytest-cov>=4.1.0
scipy>=1.11.4
seaborn>=0.13.0
tqdm>=4.66.1
